<div class="cssAddWikiTitle">Add A Wiki</div>
<div class="palm-dialog-separator cssAddWikiSeparator"></div>

<!-- Title. -->
<div class="palm-row">
  <div class="palm-row-wrapper">
    <div class="textfield-group" x-mojo-focus-highlight="true">
      <div class="title">
        <div class="label">Title</div>
        <div id="addWiki_txtTitle" x-mojo-element="TextField"></div>
      </div>
    </div>
  </div>
</div>

<!-- URL. -->
<div class="palm-row">
  <div class="palm-row-wrapper">
    <div class="textfield-group" x-mojo-focus-highlight="true">
      <div class="title">
        <div class="label">URL</div>
        <div id="addWiki_txtURL" x-mojo-element="TextField"></div>
      </div>
    </div>
  </div>
</div>

<div class="cssInstructions" style="padding-top:10px;">
  Enter your username and password for this wiki.  If you do not yet have an
  account, one will be created for you.
</div>

<!-- Username. -->
<div class="palm-row">
  <div class="palm-row-wrapper">
    <div class="textfield-group" x-mojo-focus-highlight="true">
      <div class="title">
        <div class="label">Username</div>
        <div id="addWiki_txtUsername" x-mojo-element="TextField"></div>
      </div>
    </div>
  </div>
</div>

<!-- Password. -->
<div class="palm-row">
  <div class="palm-row-wrapper">
    <div class="textfield-group" x-mojo-focus-highlight="true">
      <div class="title">
        <div class="label">Password</div>
        <div id="addWiki_txtPassword" x-mojo-element="TextField"></div>
      </div>
    </div>
  </div>
</div>

<!-- Buttons. -->
<table width="100%"><tr>
  <td width="50%"><div id="addWiki_btnSave" x-mojo-element="Button"></div></td>
  <td width="50%"><div id="addWiki_btnCancel" x-mojo-element="Button"></div></td>
</table>
